@import "tailwindcss";

@layer base {
  :root {
    --background: #f8fafc;
    --foreground: #0f172a;
  }

  .dark {
    --background: #0f172a;
    --foreground: #f8fafc;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
}
